In [4]:
import pandas as pd

pd.read_csv('../Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,672,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN
672,673,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN
673,674,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN
674,675,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN
675,676,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN

In [15]:
import json

with open('../JSON_sample.json') as f:
    string_json = f.read()
data = json.loads(string_json)
print(data)

{'Employees': [{'userId': 'person1', 'jobTitle': 'Developer', 'firstName': 'Harry', 'lastName': 'Berg', 'employeeCode': 'E1', 'region': 'CA', 'phoneNumber': '123456'}, {'userId': 'person2', 'jobTitle': 'Developer', 'firstName': 'Nihir', 'lastName': 'Vedd', 'employeeCode': 'E2', 'region': 'CA', 'phoneNumber': '1111111'}, {'userId': 'person3', 'jobTitle': 'Program Directory', 'firstName': 'Joao', 'lastName': 'Pereira', 'employeeCode': 'E3', 'region': 'CA', 'phoneNumber': '2222222'}]}

In [16]:
string_data_again = json.dumps(data)
print(type(string_data_again))

<class 'str'>

In [21]:
import yaml

with open('../yaml_example.yaml') as f:
    data = yaml.safe_load(f)

print(data)

{'Person': [{'name': 'Ivan', 'surname': 'Ying', 'role': 'Instructor', 'IQ': 0}, {'name': 'Not Ivan', 'surname': 'Gniy', 'role': 'Doppelganger', 'IQ': 150}], 'Animals': ['Cat', 'Dog', 'Shoebill', 'Kakapo']}